@{
    ViewData["Title"] = "Home Page";
}

<div class="test-center">
    <h1 class="display-4">Welcome to CI and CD Demo</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/corebuilding web apps with ASP>NET Core </a>.</p>"
</div>
